@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;300&display=swap');

/* Resets */
:root {
    --main-color: #239b7e;
    --main-font: 'Playfair Display', serif;
    --primary-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav  start*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.logo {
    margin-left: 5rem;
}

nav .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5rem;
    width: 40px;
}

.burger span {
    border: 2px solid var(--main-color);
    width: 40px;
    height: 1px;
    margin: 4px;
}

/* Nav ended */
/* Header start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    margin-top: 2rem;
}

.main-headings {
    font-size: 4rem;
    font-family: var(--main-font);
    transform: translateY(-40px);
    color: #00000097;
    line-height: 5rem;
}

.main-headings span {
    color: black;
}

.primary-headings {
    max-width: 500px;
    font-family: var(--primary-font);
    line-height: 25px;
    margin-bottom: 1rem;
    color: #716d6d;

}

.btn-fill {
    background: var(--main-color);
    color: white;
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    border: 1px solid var(--main-color);
}

.btn-fill:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 2px;
}

.btn-outline.active {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background: transparent;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-outline.active:hover {
    background-color: var(--main-color);
    color: white;
}

.img-container {
    border-radius: 50%;
    box-shadow: 4px 7px 5px #bcbaba;
}

.header-img {
    border-radius: 100%;
    background: url(images/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
    background-position: top;
    background-size: cover;
    width: 400px;
    height: 400px;
}

/* Header end */
/* Section one Start */
.section-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.section-one-img {
    background: url(images/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

/* Section one end */
/* Products start */
.products {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products .products-heading {
    margin-bottom: 1rem;
}

.products .products-headins {
    font-family: var(--primary-font);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.products .products-categories button {
    margin-right: 20px;
    margin-bottom: 2rem;
}

.products .products-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
}

.products .products-items-container .item {
    margin: 20px;
}

.products .products-items-container .item-layer {
    background-color: #ebf1f0;
    padding: 40px;
    margin-right: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.products .products-items-container .item-layer img {
    width: 150px;
    height: 200px;
}

.products .products-items-container .item .item-name {
    font-family: var(--primary-font);
    margin-bottom: 10px;
}

.products .products-items-container .item .item-price {
    font-family: var(--primary-font);
    margin-bottom: 10px;
}

.products .products-items-container .item .view-product {
    font-family: var(--primary-font);
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
/* Product section end */
/* Customer bla bla */
.customer-heading{
    text-align: center;
    margin: 20px 0;
    font-family: var(--primary-font);
    font-size: 2rem;
}
.customer-reviews{
    margin-top:7rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.customer{
    text-align: center;
}
.customer-reviews .customer-description{
    font-size: 1rem;
    margin-top: 20px;
    max-width: 200px;
    text-align: center;
    font-family: var(--primary-font);
}
.customer .customer-img .img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.customer .img-one{
    background: url(images/yogendra-singh-uWs_N5Dlyiw-unsplash.jpg);
}
.customer .img-two{
    background-image: url(images/ab67616d0000b273e03cdb88bda4f8e02ba3423b.jpeg);
}
.customer .img-three{
    background: url(images/joshua-rondeau-xazIYnxpS2Q-unsplash.jpg);
}
/* Cusotmer are bla bla end */
/* Footer start */
footer{
    background-color: #1f1e1e;
    margin-top: 10rem;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    font-family: var(--primary-font);
}
footer .container .footer-heading{
    margin-bottom: 3rem;
}

footer .container .footer-primary-heading{
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;
}
.glow{
    text-decoration: none;
    font-size: 1rem;
    animation: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes glow {
    0% {
      color: #ff0000; /* First color */
    }
    25% {
      color: #00ff00; /* Second color */
    }
    50% {
      color: #0000ff; /* Third color */
    }
    75% {
      color: #ff0000; /* First color again */
    }
    100% {
      color: #00ff00; /* Second color again */
    }
  }
  
  @media only screen and (max-width: 900px) {
    header {
      height: 120vh;
      text-align: center;
    }
  
    .section-one {
      height: 120vh;
      text-align: center;
    }
  
    .header-img {
      width: 250px;
      height: 250px;
    }
  
    .main-headings {
      font-size: 3rem;
      margin-top: 2rem;
    }
  
    .primary-headings {
      width: 400px;
    }
  
    .customer .customer-img .img {
      width: 150px;
      height: 150px;
    }
  }